node_modules
.env
dist
build
*.log
.DS_Store
.vscode
coverage
*.tsbuildinfo
.supabase
.next
out
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development
.env.production
.env.test